WebApplicationlast/WebApplicationlast/Web References/localhost/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="area_rectangle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="l" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="w" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="area_rectangleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="area_rectangleResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="area_square">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="s" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="area_squareResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="area_squareResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="area_circle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="r" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="area_circleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="area_circleResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="area_triangle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="b" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="h" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="area_triangleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="area_triangleResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="area_rectangleSoapIn">
    <wsdl:part name="parameters" element="tns:area_rectangle" />
  </wsdl:message>
  <wsdl:message name="area_rectangleSoapOut">
    <wsdl:part name="parameters" element="tns:area_rectangleResponse" />
  </wsdl:message>
  <wsdl:message name="area_squareSoapIn">
    <wsdl:part name="parameters" element="tns:area_square" />
  </wsdl:message>
  <wsdl:message name="area_squareSoapOut">
    <wsdl:part name="parameters" element="tns:area_squareResponse" />
  </wsdl:message>
  <wsdl:message name="area_circleSoapIn">
    <wsdl:part name="parameters" element="tns:area_circle" />
  </wsdl:message>
  <wsdl:message name="area_circleSoapOut">
    <wsdl:part name="parameters" element="tns:area_circleResponse" />
  </wsdl:message>
  <wsdl:message name="area_triangleSoapIn">
    <wsdl:part name="parameters" element="tns:area_triangle" />
  </wsdl:message>
  <wsdl:message name="area_triangleSoapOut">
    <wsdl:part name="parameters" element="tns:area_triangleResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="area_rectangle">
      <wsdl:input message="tns:area_rectangleSoapIn" />
      <wsdl:output message="tns:area_rectangleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="area_square">
      <wsdl:input message="tns:area_squareSoapIn" />
      <wsdl:output message="tns:area_squareSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="area_circle">
      <wsdl:input message="tns:area_circleSoapIn" />
      <wsdl:output message="tns:area_circleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="area_triangle">
      <wsdl:input message="tns:area_triangleSoapIn" />
      <wsdl:output message="tns:area_triangleSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="area_rectangle">
      <soap:operation soapAction="http://tempuri.org/area_rectangle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="area_square">
      <soap:operation soapAction="http://tempuri.org/area_square" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="area_circle">
      <soap:operation soapAction="http://tempuri.org/area_circle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="area_triangle">
      <soap:operation soapAction="http://tempuri.org/area_triangle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="area_rectangle">
      <soap12:operation soapAction="http://tempuri.org/area_rectangle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="area_square">
      <soap12:operation soapAction="http://tempuri.org/area_square" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="area_circle">
      <soap12:operation soapAction="http://tempuri.org/area_circle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="area_triangle">
      <soap12:operation soapAction="http://tempuri.org/area_triangle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="https://localhost:44314/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="https://localhost:44314/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>